<!DOCTYPE html>
<html>
  <head>
    <title>Audio</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
    <nav class="navbar">
      <a href="/"> HOME </a>| <a href="/list"> LIST </a>| <a href="/table"> TABLE </a>| <a href="/audio"> AUDIO </a>| <a href="/video"> VIDEO </a>| <a href="/storefront"> STOREFRONT </a>
    </nav>
    </header>
    <div>
    <h1><u> AUDIO SECTION </u></h1>
    <audio controls>
      <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
    </audio>
    <p> You can listen to this audio file in this section. To listen to the audio track, click the play button above. This audio track demonstrates how to utilise HTML5's audio element to play music directly on a website. Enjoy the music. </p>
    </div>
  </body>
</html>