<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/"> HOME </a>| <a href="/list"> LIST </a>| <a href="/table"> TABLE </a>| <a href="/audio"> AUDIO </a>| <a href="/video"> VIDEO </a>| <a href="/storefront"> STOREFRONT </a>
      </nav>
      </header>
    <div>
    <h1> Welcome to my website! </h1>
    <p> I will be demonstrating HTML5 principles and techniques, Routing in Express </p>
    <h2>
      <u> Learning Experience: </u>
    </h2>
    <p> So far, the WEB322 course has taught me how to build a web server with Node.js and Express.js. I'll learn how to configure the server and manage client requests by creating routes for various URLs. This will provide me with hands-on expertise in client-server communication as well as an understanding of how web servers operate. I will also gain knowledge in routing with Express.js, which involves directing incoming requests to the appropriate handlers or functions based on the requested URL. This will help me understand how to create dynamic routes and handle different HTTP methods like GET and POST.Overall, finishing this course will give me hands-on experience with web server development, routing, client-server communication, modular code organisation, and HTML5 usage. These abilities are required for developing strong and functional web apps. </p>
    <h2>
      <u> About Site: </u>
    </h2>
    <p> This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. This website is dynamic and interactive, with a web server powered by Node.js and Express.js. The website will have several routes for serving varied content, such as employee information, lists, tables, audio, and video. Users can access employee data by entering the employee number into the URL, and they can navigate across the website to examine lists, tables, and multimedia information. The website will demonstrate my knowledge of server-side development, routing, and HTML5 concepts, resulting in a smooth and interesting user experience. </p>
    </div>
  </body>
 </html>