<!DOCTYPE html>
<html>
  <head>
    <title>List</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/"> HOME </a>| <a href="/list"> LIST </a>| <a href="/table"> TABLE </a>| <a href="/audio"> AUDIO </a>| <a href="/video"> VIDEO </a>| <a href="/storefront"> STOREFRONT </a>
      </nav>
      </header>
    <div>
    <h1>Welcome to the List Section</h1>
    <p>Here, you will find some interesting information about healthy foods, their calories, and nutrition.</p>
    <h2>
      <u> About Me </u>
    </h2>
    <p> NAME: Gaganjot Singh <BR> STUDENT ID: 174905216 <BR> Hi, my name is Gaganjot Singh and I'm currently studying CPA (Computer Programming and Analysis) at Seneca College. I've always been fascinated by technology and computer programming, so choosing this course of study was a natural choice for me. Aside from my academic pursuits, I enjoy playing Video Games. </p>
    <h2>
      <u> Healthy Food and Nutrition </u>
    </h2>
    <ul>
      <li>Vegetables <ol>
          <li>Broccoli: vitamin C, vitamin K</li>
          <li>Lettuce: vitamin A, vitamin K</li>
          <li>Onion: vitamin C</li>
        </ol>
      </li>
      <br>
      <li>Fruits <ul>
          <li>Mango: vitamin C, vitamin A</li>
          <li>Apples: vitamin C</li>
          <li>Bananas: vitamin B6</li>
        </ul>
      </li>
    </ul>
    </div>
  </body>
</html>