<!DOCTYPE html>
<html>
  <head>
    <title>Table</title>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/"> HOME </a>| <a href="/list"> LIST </a>| <a href="/table"> TABLE </a>| <a href="/audio"> AUDIO </a>| <a href="/video"> VIDEO </a>| <a href="/storefront"> STOREFRONT </a>
      </nav>
      </header>
    <div>
    <h1>
      <u> TABLE SECTION </u>
    </h1>
    <table class="table">
      <caption>Favorite Movies</caption>
      <thead>
        <tr>
          <th>Movie</th>
          <th>Director</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Joker </td>
          <td> Todd Phillips </td>
          <td> Psychological Thriller</td>
        </tr>
        <tr>
          <td> Inception </td>
          <td> Leonardo DiCaprio </td>
          <td> Science Fiction </td>
        </tr>
        <tr>
          <td> The Avengers </td>
          <td> Joss Whedon </td>
          <td> Action </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <br>
    <table>
      <caption>Favorite Books</caption>
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> Clean Code: A Handbook of Agile Software Craftsmanship </td>
          <td> Robert C. Martin </td>
          <td> Software Development </td>
        </tr>
        <tr>
          <td> Harry Potter and the Sorcerer's Stone </td>
          <td> J.K. Rowling </td>
          <td> Fantasy </td>
        </tr>
        <tr>
          <td> Rich Dad Poor Dad </td>
          <td> Robert T. Kiyosaki </td>
          <td> Personal Finance </td>
        </tr>
      </tbody>
    </table>
    <p>This section has two tables displaying some of my favourite books and films.. The first table includes movie titles, directors, and genres, while the second table includes book titles, authors, and genres.</p>
    </div>  
  </body>
</html>