<!DOCTYPE html>
<html>
<head>
  <title>Video</title>
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/"> HOME </a>| <a href="/list"> LIST </a>| <a href="/table"> TABLE </a>| <a href="/audio"> AUDIO </a>| <a href="/video"> VIDEO </a>| <a href="/storefront"> STOREFRONT </a>
    </nav>
    </header>
    <div> 
  <h1> <u> VIDEO SECTION </u></h1>
  <video controls>
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4" type="video/mp4">
  </video>
  <p>
    You can view this interesting video in this section. To begin watching the video, click the play button above. This video shows how to use HTML5's video element, which allows you to embed and play videos directly on a webpage. Enjoy the video.
  </p>
  </div>
</body>
</html>